/*
========================================================================================
    FASTQ-to-DX process configuration

  separared  from the main file orginally to make it clearer
========================================================================================
*/

process {

    /*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Raw FASTQ QC
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    */
    withName: 'FASTQC' {
        publishDir = [
            path: "${params.outdir}/ctdna_fastq_to_dx/qc/fastqc",
            mode: 'copy'
        ]
    }

    withName: 'MULTIQC_FASTQC' {
        publishDir = [
            path: "${params.outdir}/ctdna_fastq_to_dx/qc/multiqc_fastqc",
            mode: 'copy'
        ]

        ext.prefix = 'fastqc'
    }

    /*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        FASTQ to initial mapped BAM
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    */
    withName: 'FGBIO_FASTQTOBAM' {
        cpus = 4
        memory = 5.GB
        time = 4.h

        publishDir = [
            path: "${params.outdir}/ctdna_fastq_to_dx/unmapped_bam",
            mode: 'copy'
        ]

        ext.args = {
            "--read-structures 5M2S+T 5M2S+T " +
            "--read-group-id ${meta.run_id}.${meta.lane} " +
            "--sample ${meta.patient}_${meta.endpoint} " +
            "--library ${meta.id} " +
            "--platform-unit ${meta.run_id}.${meta.lane}.1 " +
            "--platform Illumina"
        }

        ext.prefix = { "${meta.id}_unmapped" }

        ext.suffix = 'bam'
    }

    withName: 'SAMTOOLS_SORT_UBAM_QNAME' {
        cpus = 2
        memory = 4.GB
        time = 2.h

        ext.args = '-n --no-PG'
        ext.prefix = { "${meta.id}_unmapped_qname" }
    }

    withName: 'SAMTOOLS_FASTQ' {
        cpus = 2
        memory = 4.GB
        time = 2.h

        publishDir = [
            path: "${params.outdir}/ctdna_fastq_to_dx/ubam_fastq",
            mode: 'copy'
        ]

        ext.prefix = { "${meta.id}" }
    }

    withName: 'BWAMEM2_MEM' {
        cpus = 2
        memory = 8.GB
        time = 4.h

        publishDir = [
            path: "${params.outdir}/ctdna_fastq_to_dx/bwa_mem2_raw",
            mode: 'copy'
        ]

        ext.args = '-p -K 150000000 -Y'
        ext.prefix = { "${meta.id}_bwa" }
    }

    withName: 'SAMTOOLS_SORT_BWA_QNAME' {
        cpus = 2
        memory = 4.GB
        time = 2.h

        ext.args = '-n --no-PG'
        ext.prefix = { "${meta.id}_bwa_qname" }
    }

    withName: 'FGBIO_ZIPPERBAMS' {
        cpus = 2
        memory = 8.GB
        time = 4.h

        publishDir = [
            path: "${params.outdir}/ctdna_fastq_to_dx/mapped_bam",
            mode: 'copy'
        ]

        ext.prefix = { "${meta.id}_mapped" }
    }

    /*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        UMI grouping and duplex consensus
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    */
    withName: 'MULTIQC_GROUPED_UMI' {
        publishDir = [
            path: "${params.outdir}/ctdna_fastq_to_dx/qc/multiqc_grouped_umi",
            mode: 'copy'
        ]

        ext.prefix = 'grouped_umi'
    }

    withName: 'FGBIO_GROUPREADSBYUMI' {
        cpus = 4
        memory = 8.GB
        time = 4.h

        publishDir = [
            path: "${params.outdir}/ctdna_fastq_to_dx/grouped",
            mode: 'copy'
        ]

        ext.args = '--edits 1'
        ext.prefix = { "${meta.id}_grouped" }
    }

    withName: 'FGBIO_COLLECTDUPLEXSEQMETRICS' {
        cpus = 4
        memory = 8.GB
        time = 4.h

        publishDir = [
            path: "${params.outdir}/ctdna_fastq_to_dx/metrics/collectduplexseqmetrics",
            mode: 'copy'
        ]

        ext.args = '-u true'
        ext.prefix = { "${meta.id}_dx_SeqMetrics" }
    }

    withName: 'MULTIQC_COLLECTDUPLEXSEQMETRICS' {
        publishDir = [
            path: "${params.outdir}/ctdna_fastq_to_dx/qc/multiqc_collectduplexseqmetrics",
            mode: 'copy'
        ]

        ext.prefix = 'collectduplexseqmetrics'
    }

    withName: 'FGBIO_CALLDUPLEXCONSENSUSREADS' {
        cpus = 30
        memory = 6.GB
        time = 8.h

        publishDir = [
            path: "${params.outdir}/ctdna_fastq_to_dx/consensus_unfiltered",
            mode: 'copy'
        ]

        ext.prefix = { "${meta.id}_dx_unfiltered" }
    }

    withName: 'FGBIO_FILTERCONSENSUSREADS' {
        cpus = 4
        memory = 10.GB
        time = 8.h

        publishDir = [
            path: "${params.outdir}/ctdna_fastq_to_dx/consensus_unmapped",
            mode: 'copy'
        ]

        ext.prefix = { "${meta.id}_dx_unmapped" }
    }

    /*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Duplex consensus remapping
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    */
    withName: 'SAMTOOLS_FASTQ_DX' {
        cpus = 2
        memory = 4.GB
        time = 2.h

        publishDir = [
            path: "${params.outdir}/ctdna_fastq_to_dx/consensus_fastq",
            mode: 'copy'
        ]

        ext.prefix = { "${meta.id}_dx" }
    }

    withName: 'BWAMEM2_MEM_DX' {
        cpus = 24
        memory = 16.GB
        time = 8.h

        publishDir = [
            path: "${params.outdir}/ctdna_fastq_to_dx/consensus_bwa_raw",
            mode: 'copy'
        ]

        ext.args = '-p -K 150000000 -Y'
        ext.prefix = { "${meta.id}_dx_bwa" }
    }

    withName: 'SAMTOOLS_SORT_DX_UBAM_QNAME' {
        cpus = 2
        memory = 4.GB
        time = 2.h

        ext.args = '-n --no-PG'
        ext.prefix = { "${meta.id}_dx_unmapped_qname" }
    }

    withName: 'SAMTOOLS_SORT_DX_BWA_QNAME' {
        cpus = 2
        memory = 4.GB
        time = 2.h

        ext.args = '-n --no-PG'
        ext.prefix = { "${meta.id}_dx_bwa_qname" }
    }

    withName: 'FGBIO_ZIPPERBAMS_DX' {
        cpus = 4
        memory = 8.GB
        time = 4.h

        publishDir = [
            path: "${params.outdir}/ctdna_fastq_to_dx/consensus_mapped_unsorted",
            mode: 'copy'
        ]

        ext.prefix = { "${meta.id}_dx_mapped_unsorted" }
        ext.args = '--compression 0 --async-io=true'
        ext.args2 = '--tags-to-reverse Consensus --tags-to-revcomp Consensus'
    }

    withName: 'SAMTOOLS_SORT_DX_COORD' {
        cpus = 4
        memory = 8.GB
        time = 4.h

        publishDir = [
            path: "${params.outdir}/ctdna_fastq_to_dx/consensus_mapped",
            mode: 'copy'
        ]

        ext.args = '--no-PG'
        ext.prefix = { "${meta.id}_dx_mapped" }
    }

    withName: 'SAMTOOLS_INDEX_DX_FINAL' {
        cpus = 2
        memory = 4.GB
        time = 2.h

        publishDir = [
            path: "${params.outdir}/ctdna_fastq_to_dx/consensus_mapped",
            mode: 'copy'
        ]
    }

        /*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        FASTQ-to-DX QC subworkflow: samtools QC
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    */

    withName: 'SAMTOOLS_FLAGSTAT_MAPPED' {
        cpus = 2
        memory = 4.GB
        time = 2.h

        publishDir = [
            path: "${params.outdir}/ctdna_fastq_to_dx/qc/pre_consensus_mapping/samtools",
            mode: 'copy'
        ]

        ext.prefix = { "${meta.id}" }
    }

    withName: 'SAMTOOLS_IDXSTATS_MAPPED' {
        cpus = 2
        memory = 4.GB
        time = 2.h

        publishDir = [
            path: "${params.outdir}/ctdna_fastq_to_dx/qc/pre_consensus_mapping/samtools",
            mode: 'copy'
        ]

        ext.prefix = { "${meta.id}" }
    }

    withName: 'SAMTOOLS_STATS_MAPPED' {
        cpus = 2
        memory = 4.GB
        time = 2.h

        publishDir = [
            path: "${params.outdir}/ctdna_fastq_to_dx/qc/pre_consensus_mapping/samtools",
            mode: 'copy'
        ]

        ext.prefix = { "${meta.id}" }
    }

    withName: 'SAMTOOLS_FLAGSTAT_DX' {
        cpus = 2
        memory = 4.GB
        time = 2.h

        publishDir = [
            path: "${params.outdir}/ctdna_fastq_to_dx/qc/final_duplex_mapping/samtools",
            mode: 'copy'
        ]

        ext.prefix = { "${meta.id}" }
    }

    withName: 'SAMTOOLS_IDXSTATS_DX' {
        cpus = 2
        memory = 4.GB
        time = 2.h

        publishDir = [
            path: "${params.outdir}/ctdna_fastq_to_dx/qc/final_duplex_mapping/samtools",
            mode: 'copy'
        ]

        ext.prefix = { "${meta.id}" }
    }

    withName: 'SAMTOOLS_STATS_DX' {
        cpus = 2
        memory = 4.GB
        time = 2.h

        publishDir = [
            path: "${params.outdir}/ctdna_fastq_to_dx/qc/final_duplex_mapping/samtools",
            mode: 'copy'
        ]

        ext.prefix = { "${meta.id}" }
    }
    /*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Picard targeted-panel QC
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    */
   
    withName: 'PICARD_COLLECTWGSMETRICS' {
        ext.when = false
    }

    withName: 'PICARD_COLLECTHSMETRICS' {
        cpus = 2
        memory = 8.GB
        time = 4.h

        publishDir = [
            path: "${params.outdir}/ctdna_fastq_to_dx/qc/picard/hsmetrics",
            mode: 'copy'
        ]
    }

    withName: 'PICARD_COLLECTMULTIPLEMETRICS' {
        cpus = 2
        memory = 8.GB
        time = 4.h

        publishDir = [
            path: "${params.outdir}/ctdna_fastq_to_dx/qc/picard/multiple_metrics",
            mode: 'copy'
        ]
    }

    withName: 'MULTIQC_FASTQ_TO_DX_QC' {
        publishDir = [
            path: "${params.outdir}/ctdna_fastq_to_dx/qc/multiqc_complete",
            mode: 'copy'
        ]

        ext.prefix = 'ctdna_fastq_to_dx_qc'
    }
    /*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Final mapping QC
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     */

    withName: 'SAMTOOLS_FLAGSTAT_DX_FINAL' {
        cpus = 2
        memory = 4.GB
        time = 2.h

        publishDir = [
            path: "${params.outdir}/ctdna_fastq_to_dx/qc/final_mapping/samtools",
            mode: 'copy'
        ]

        ext.prefix = { "${meta.id}_dx_mapped" }
    }

    withName: 'SAMTOOLS_IDXSTATS_DX_FINAL' {
        cpus = 2
        memory = 4.GB
        time = 2.h

        publishDir = [
            path: "${params.outdir}/ctdna_fastq_to_dx/qc/final_mapping/samtools",
            mode: 'copy'
        ]

        /*
         * Keep idxstats in the filename so MultiQC recognises it.
         */
        ext.prefix = { "${meta.id}_dx_mapped" }
    }

    withName: 'SAMTOOLS_STATS_DX_FINAL' {
        cpus = 2
        memory = 4.GB
        time = 2.h

        publishDir = [
            path: "${params.outdir}/ctdna_fastq_to_dx/qc/final_mapping/samtools",
            mode: 'copy'
        ]

        ext.prefix = { "${meta.id}_dx_mapped" }
    }

    withName: 'MULTIQC_DX_FINAL_MAPPING' {
        publishDir = [
            path: "${params.outdir}/ctdna_fastq_to_dx/qc/final_mapping/multiqc",
            mode: 'copy'
        ]

        ext.prefix = 'dx_final_mapping'
    }
}